 * {
     padding: 0px;
     margin: 0px;
 }

 /* ESTILOS DE LA TARJETA */

 .tarjeta {
     border: 1px #dbdbdb solid;
     webkit-box-shadow: 14px 14px 0px -5px rgba(240, 240, 240, 1);
     -moz-box-shadow: 14px 14px 0px -5px rgba(240, 240, 240, 1);
     box-shadow: 14px 14px 0px -5px rgba(240, 240, 240, 1);
     margin-right: 5%
 }

 .tarjeta img {
     width: 100%;
 }

 .contenido-tarjeta {
     padding: 10px;
 }

 .distancia {
     font-size: 12px;
 }

 .tarjeta span {
     font-size: 12px;
 }

 .tarjeta a {
     text-decoration: none;
     color: green;
 }

 /* ESTRELLAS DE VALORACION */

 .tarjeta label {
     color: grey;
 }

 .tarjeta input[type="radio"] {
     display: none;
 }

 .tarjeta .clasificacion {
     direction: rtl;
     /* right to left */
     unicode-bidi: bidi-override;
     /* bidi de bidireccional */
 }

 .tarjeta label:hover {
     color: limegreen;
 }

 .tarjeta label:hover~label {
     color: limegreen;
 }

 .tarjeta input[type="radio"]:checked~label {
     color: limegreen;
 }

 .tarjeta form {
     width: 250px;
     height: 40px;
 }

 .tarjeta form p {
     text-align: left;
 }

 .tarjeta form label {
     font-size: 20px;
 }

 /* SISTEMA DE COLUMNAS Y FILAS*/

 .row {
     padding: 20px 10%;
 }

 .col {
     float: left;
     width: 25%;
 }

 /* OTROS AJUSTE DE CAJA */

 .slider {
     width: 95%;
     margin: auto;
     overflow: hidden;
 }

 .slider ul {
     display: flex;
     padding: 0;
     width: 400%;

     animation: cambio 10s infinite linear;
 }

 .slider li {
     width: 90%;
     list-style: none;
 }

 .slider img {
     width: 90%;
 }

 @keyframes cambio {
     0% {
         margin-left: 0;
     }

     20% {
         margin-left: 0;
     }

     25% {
         margin-left: -100%;
     }

     45% {
         margin-left: -100%;
     }

     50% {
         margin-left: -200%;
     }

     70% {
         margin-left: -200%;
     }

     75% {
         margin-left: -300%;
     }

     100% {
         margin-left: -300%;
     }

 }

 .far {

     float: right;
 }

#body {
    margin: auto;
    width: 900px;
    height: 330px;
}

 .restaurantes {
     margin: 7px;
     display: inline-block;
     position: relative;
     float: left;

 }



 figure {
     margin: auto;
     display: inline-block;
     position: relative;
     float: left;

 }



 figcaption {

     color: black;
     position: absolute;
     left: 0px;
     bottom: 0px;
     width: 94%;
     padding: 3%;
     text-align: center;



 }

 .city {

     color: white;
     position: absolute;
     left: 0px;
     bottom: 0px;
     width: 94%;
     padding: 3%;
     text-align: center;



 }

 .container {
     display: flex;
     padding-left: 190px;
     padding-right: 150px;

 }

 .container li{
	
	margin:10px;
	padding: 1px;
	padding-inline-start: 0px;
	list-style-type: none;
}

.container ul{
	
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}

.container a{
	color: black;
	text-decoration: none;

}


.banner2{
	
	margin-left-: auto;
	margin-right: auto;
	padding-inline-start: 100px;
    display: block;
	position: absolute;
	float: left;
}
